*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
   /* background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;;
}

#btn2{
    background-color: orangered;
    color: #fff;
}

#main>h1{
   /*  color: red; */
   font-size: 180px;
   text-transform: uppercase;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   text-align: center;
}

img{
    height: 500;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);

}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
}
a{
    color: red;
    background-color: red;
    font-size: 10px;
    border-radius: 300px;
    position: absolute;
    bottom: 7%;
    left: 3%;
}               

#Icon{
   font-size: 20px;
    border-radius: 300px;
    position: absolute;
    bottom: 7%;
    right: 5%;
    justify-content:space-around;    
}  
#semi{
    position: absolute;
    top: 97%;
    left: 49%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 200px;
    border-radius: 100px 100px 0 0 ;
    border: 1.5px solid #000;  
    border-bottom: #fff; 
    justify-content: center;  
    align-items: center;     
}          
#arrow{
    font-size: 63px;
    position: absolute;
    left:48.6%;
    top: 95.7%;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
}  